@import url(https://fonts.googleapis.com/css?family=:Lato&display=swap);

body {
    font-family:Lato, serif;
    background: linear-gradient(0deg, #8603dd 0%, #00000a 100%);
}

.navbar-brand>img {
    max-width: 40px;
}
.container-fluid {
    box-shadow: 8px 2px 10px 1px #f8f5f8;
}

.sidebar,
.btn-outline-dark {
    color: rgb(128, 69, 161);
    background: linear-gradient(270deg, #500383 0%, #00000a 100%);
}
.card {
    background: linear-gradient(0deg, #9b25e9 0%, #00000a 100%);
    color: #270230;
}
.btn-primary {
    color: rgb(35, 1, 51);
    background:#a937f5
}
.card a {
    text-decoration:none ;
    color: #320452;
}

.dir {
    color: #996ee9;
}

footer {
    margin-top: 0.5em;
}
.slide-text {
    color: #9037f5;
    margin: auto auto;
}
.media {
display: flex;
justify-content: space-between;
align-items: center;
}

.coll {
    animation: coll 2s ease 0s 1 normal forwards;
}

@keyframes coll {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
